@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div_1 {
    height: 5vh;
    width: 100%;
    background-color: #E08422; 
}
.img_logo_site {
    width: 20vw;
    border-radius: 50%;
}
.topo {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    font-size: 1em;
    box-shadow: 5px 4px 10px rgb(175, 165, 165);
    background-color:  #ff802b;
}
#divBusca{
    background-color:#ffffff;
    border:solid 2px #ca6f0e;
    border-radius:10px;
    width:21,9vw;
    height:4,8vh;
}
#divBusca ::placeholder{
    color: black;
} 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:4,8vh;
    width: 13,9vw;
    font-family: 'Be Vietnam Pro', sans-serif;
}
#btnBusca{
    border:none;
    float:right;
    height: 4.3vh;
    border-radius:0 7px 7px 0;
    width:5.1vw;
    font-weight:bold;
    background:#aaa2a2;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.menu_topo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    height: 15vh;
}
nav {
    display: flex;
    justify-content: center;
}
li:hover {
    font-weight: 700;
    color: #E6B967;
    cursor: pointer;
}
a {
    text-decoration:none;
    color: #000;    
}
a:hover {
    color: #E6B967;
}
.mae_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo_receitas {
    display: flex;
    justify-content: center;
    font-family: 'Bree Serif', serif;
    color: #E6B967;
    font-size: 2.1em;
    font-weight: 500;
}
.texto_topo {
    margin-top: 2.7vh;
    width: 70%;
    font-family: 'Be Vietnam Pro', sans-serif;
    color:#000;
    font-size: 1em;
    text-align: justify;
    margin-bottom: 5vh;
}
.dicas_mae {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding-bottom: 4vh;
}
.dicas_filha {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.paragrafo {
    text-align: justify;
    width: 50%;
}
.lista_title {
    font-size: 1.5vw;
    color: #E6B967;
    font-weight:700;
    padding: 4vw 3vw;
    width: 50%;
}