@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div_1 {
    height: 5vh;
    width: 100%;
    background-color: #E08422; 
}
.img_logo_site {
    width: 20vw;
    border-radius: 50%;
}
.topo {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Bree Serif', serif;
    color: #ffffff;
    font-size: 1em;
    box-shadow: 5px 4px 10px rgb(175, 165, 165);
    background-color:  #ff802b;
}
#divBusca{
    background-color:#ffffff;
    border:solid 2px #ca6f0e;
    border-radius:10px;
    width:21,9vw;
    height:4,8vh;
}
#divBusca ::placeholder{
    color: black;
} 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:0.9em;
    border:none;
    height:4,8vh;
    width: 13,9vw;
    font-family: 'Be Vietnam Pro', sans-serif;
}
#btnBusca{
    border:none;
    float:right;
    height: 4.3vh;
    border-radius:0 7px 7px 0;
    width:5.1vw;
    font-weight:bold;
    background:#aaa2a2;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.menu_topo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    height: 15vh;
}
nav {
    display: flex;
    justify-content: center;
}
li:hover {
    font-weight: 700;
    color: #E6B967;
    cursor: pointer;
}
.mae {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo {
    font-size: 1.5em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    width: 80%;
    font-family: 'Bree Serif', serif;
    color: #000;
    background-color:#aaa2a2;
    border-radius: 13px 13px 0 0 ;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.caixa_dicas {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 2vw;
    width: 80%;
    text-align: justify;
    border: #aaa2a2 solid 1px;
    border-radius:  0 0 13px 13px;
    margin-bottom: 5vh;
}
label {
    padding: 2vh;
    width: 50%;
    font-family: 'Be Vietnam Pro', sans-serif;
}
input {
    border: #aaa2a2 solid 1px;
    border-radius: 5px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
#input_name {
    width: 35vw;
    height: 5vh;
}
#input_email {
    width: 35vw;
    height: 5vh;
}
#input_tel{
    width: 35vw;
    height: 5vh;
}
#label_city {
    display: flex;
    flex-direction: column;
}
#input_cidade {
    width: 25vw;
    height: 5vh;
}
#estados {
    width: 5vw;
}
select {
    float: right    ;
    font-size: 0.8em;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 5px;
    border: #aaa2a2 solid 1px;
    width: 10vw;
    height: 5vh;
}
#botao_form {
    font-size: 0.8em;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-radius: 1px solid #aaa2a2 ;
    width: 10vw;
    height: 5vh;
}
#caixa_desc {
    padding-top: 5vh;
    display: flex;
}
a {
    text-decoration:none;
    color: #000;    
}
a:hover {
    color: #E6B967;
   }